doctype html
html
  head
    title Pokédex
    link(rel="stylesheet" href="/css/style.css")
  body
    h1 Pokedex
    nav
      ul
        li: a(href="/pokemon") Ver Lista de Pokémon
        li: a(href="/pokemon/nuevo") Registrar Nuevo Pokémon
    block content
